<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    
</body>
</html>
<div class="Header">
    <div class="Nav">
    <a class ="brand" href="./"><img src="./images/subway.png" width="38px">Tranzit</a>
    <a href="./">Home</a>
    <a href="./map">Map</a>
    <a href="./about">About</a>
   
    </div>
</div>

<div class=" container3 jumbotron1 ">
    <br>
    <h1>About</h1>
    <p class="colchange">
        Tranzit is a Metro Path Finder Web App which finds you the shortest way to your destination right at your fingertips. 
        No need to worry about the Complex Delhi Metro Structure. Just put in your Source and Destination and get there in no time. 
        Get detailed Description of the time and distance to reach and also get the location of your nearest Metro Station.
        Developed by:
        <li>SC Ashwin</li>
        <li>Kaustubh Debnath</li>
        <li>Sumit Prakash</li>
        <li>Aman Kumar</li>
    </p>
    <br>
    
    
    <h2>Our tech stack</h2>
    <br>
    <br>
    <div class= "row">
        <div class="col-sm-5 logomar">
            <img src="./images/htmlcssjs.png" class= "img-fluid stackicons1">
        </div>
        <div class="col-sm-5 logomar">
            <img src="./images/heroku.png" class= "img-fluid mongo">
        </div>
        <div class= "row">
            <div class="col-md-4 logomar" id="logomar-mid">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" class= "img-fluid mongo stackicons">
            </div>
        </div>
    </div>
    <br>
    
    <br>
    <br>
    <p class="colchange">You can checkout our repository on<a href="https://github.com/HNGP/Tranzit"><i class="fab fa-github mr-1"></i>GitHub</a></p>
    
    </div>