<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="algo.js"></script>
    
</head>
<body>
  <div class="Header">
    <div class="Nav">
    <a class ="brand" href="./"><img src="subway.png" width="38px">Tranzit</a>
    <a href="./map">Home</a>
    <a href="./map">Map</a>
    <a href="./map">About</a>
   
    </div>
</div>
  <div class = "container">
    <div class = "stackView">
      <table>
        <form onsubmit="getRoute(); return false;">
        <tr>
          <td><label for="Source">Source:</label></td>
          <td><label for="Destination">Destination:</label></td>
       </tr>
       <tr>
         <td>
           <!-- <input type="text" id="src"> -->
           <select id="src">
            <option value="">Choose Source</option>
            <option value="HUDA City Centre">HUDA City Centre</option>
            <option value="Saket">Saket</option>
            <option value="Hauz Khas">Hauz Khas</option>
            <option value="INA">INA</option>
            <option value="Botanical Garden">Botanical Garden</option>
            <option value="Noida City Centre">Noida City Centre</option>
            <option value="Rajiv Chowk">Rajiv Chowk</option>
            <option value="Munirka">Munirka</option>
            <option value="Indira Gandhi International Airport">Indira Gandhi International Airport</option>
            <option value="Janakpuri West">Janakpuri West</option>
            <option value="Dwarka">Dwarka</option>
          </select>
        </td>
      <td>
        <!-- <input type="text" id="dest"> -->
        <select id= "dest">
          <option value="">Choose Destination</option>
          <option value="HUDA City Centre">HUDA City Centre</option>
          <option value="Saket">Saket</option>
          <option value="Hauz Khas">Hauz Khas</option>
          <option value="INA">INA</option>
          <option value="Botanical Garden">Botanical Garden</option>
          <option value="Noida City Centre">Noida City Centre</option>
          <option value="Rajiv Chowk">Rajiv Chowk</option>
          <option value="Munirka">Munirka</option>
          <option value="Indira Gandhi International Airport">Indira Gandhi International Airport</option>
          <option value="Janakpuri West">Janakpuri West</option>
          <option value="Dwarka">Dwarka</option>
        </select>
      </td>
    </tr>

      <tr>
        <td colspan="2">
          <input type="submit" class="btn-block my-4 button" value="FIND SHORTEST ROUTE">
        </td>
      </tr>
    </form>
  </table>
 
    <div id="result">
        <h1 id="dist"></h1>
        <p id="route"><ul></ul></p>
    </div>
  </div>
</div>
</body>
</html>
