<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="algo.js"></script>
    
</head>
<body>
  <div class="Header">
    <div class="Nav">
    <a class ="brand" href="./"><img src="subway.png" width="38px">Tranzit</a>
    <a href="./map">Home</a>
    <a href="./map">Map</a>
    <a href="./map">About</a>
   
    </div>
</div>
  <div class = "container">
    
</div>
</body>
</html>
