<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="algo.js"></script>
    
</head>
<body>
  <div class="Header">
    <div class="Nav">
    <a class ="brand" href="./"><img src="./images/subway.png" width="38px">Tranzit</a>
    <a href="./">Home</a>
    <a href="./map">Map</a>
    <a href="./about">About</a>
   
    </div>
</div>
 
<div class = "container2">
    <h1>Sample Delhi Metro Map</h1>
    <h2>Represented in graph data structure</h2>

    <img src="./images/map.png" width="900px">
</div>

</body>
</html>
